body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0dcdc;
}

.main-div {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;  
    background-color: white;
    box-shadow: 0px 0px 4px 2px #b8b8b8; 
}

.sub-div {
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    
    /* border: 1px dotted black; */
    
}

.sub-div, .main-div {
    aspect-ratio: 1/1;
}